<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>112.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>114.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>115.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>116.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>117.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>118.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,140},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>120.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>121.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>202.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>204.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>205.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>206.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,278},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>208.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>209.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>210.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>211.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>212.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>213.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>214.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>215.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,416},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>216.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>217.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>218.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>219.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>220.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>221.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,554},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>21.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7505f06aa873df3596dfaff6653f38a$</string>
            <key>textureFileName</key>
            <string>21.png</string>
        </dict>
    </dict>
</plist>
