<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{154,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9955522d30ad92b79afe10a01e915e5c$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
